@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}

body{
    display: flex;
    justify-content: center ;
    min-height: auto;
    padding-top: 10px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);


}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
    margin-right: 10px;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
    border: #5baeb7;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5baeb7;
    color: white;
}
.navigation_home {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.navigation_home {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}