@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}

body{
    display: flex;
    justify-content: center ;
    min-height: auto;
    padding-top: 150px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);


}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
    margin-right: 10px;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5baeb7;
    color: white;
    border: none;
}

.navigation_home {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.table-container-grid {
    display: grid;
    grid-template-columns: 1fr 300px 300px;
    gap: 20px;                    
    width: 100%;
}

.bottom_nav_bar {
    position: sticky;
    top: 60px;
    width: 100%;
    background-color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    z-index: 999;
    border-bottom: 1px solid #eee;
}

.bottom-nav-item {
    color: #555;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    padding: 5px 20px;
    transition: all 0.3s ease;
}

.bottom-nav-item:hover {
    color: #007bff;
    background-color: #e9ecef;
    border-radius: 4px;
}